# Stripe Credentials
STRIPE_SECRET_KEY=sk_test_51...
STRIPE_PUBLISHABLE_KEY=pk_test_51...
STRIPE_API_VERSION=2026-03-25.dahlia
STRIPE_WEBHOOK_SECRET=whsec_...

# Frontend/Website configuration
FRONTEND_URL=http://localhost:3001
WEBSITE_URL=http://localhost:3001
